* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
}

html {
  scroll-behavior: smooth;
}

:root {
  --blue: #02025c;
  --blue-lake: #2469a0;
  --clear-blue-lake: #10bce3;
  --clear-green-lake: #36ba99;
  --green-lake: #8be27e;

  --green-mud: #5aa7a7;
  --clear-green-mud: #96d7c6;

  --clear-yellow: #f2f5f0;
  --gray-blue: #a3c9e2;
  --gray: #d5d5d5;

  --white: #ffffff;
  --sepcial-White: #f4f4f8;
  --black: #000000;
  --clear-black: #00000080;

  --hard-purple: #6167c7;
  --hard-blue: #4c9fcb;

  /**/

  --red: #ff0000;
  --opacity-red: #b31717;
  --gren: #00dc00;
  --opacity-green: #22ca2293;
}

button {
  transition: box-shadow 0.2s ease-in, background-color 0.3s ease-in;
}

/*--------------------------Header------------------------------*/

#header-container {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background: linear-gradient(45deg, var(--clear-green-lake), var(--blue-lake));
  opacity: 0.98;
  color: white;
}

.header-box .icon-personal {
  display: block;
}

.header-box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 25px;
}

.header-box .title {
  display: flex;
  align-items: center;
}

.header-box .title h1 {
  font-weight: bold;
  user-select: none;
  font-family: Georgia, "Times New Roman", Times, serif;
  position: relative;
  left: -15px;
}

.header-box .title h1 a {
  color: var(--white);
  text-decoration: none;
}

.header-box .title img {
  position: relative;
  top: -2px;
  width: 100px;
  border-radius: 50%;
  font-size: clamp(1.2em, 2.5vw, 1.5em);
  filter: drop-shadow(0 0 10px var(--black));
}

.action-nav {
  right: 0% !important;
}

/* .ul-nav-desktop {
    display: none;
} */

.header-box .navegator-box .ul-list-mobile {
  position: absolute;
  width: 100%;
  right: -100%;
  height: 100vh;
  background: linear-gradient(45deg, var(--black), var(--blue-lake));

  top: 0px;
  padding: 35px 40px;
  transition: right 0.4s;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  gap: 25px;
}

.header-box .navegator-box .ul-list-mobile img {
  position: relative;
  top: -15px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
  transition: box-shadow 0.3s ease-in, scale 0.3s ease-in;
}

.header-box .navegator-box .ul-list-mobile img:hover {
  scale: 1.2;
  fill: var(--opacity-red);
}

.header-box .navegator-box .ul-list-mobile .header-list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-box .navegator-box .ul-list-mobile .info-project {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ul-list-mobile .info-project .info-box {
  height: 400px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.ul-list-mobile .info-project .info-box h2 {
  font-size: clamp(2em, 2.5vw, 2.5em);
  pointer-events: none;
}

.ul-list-mobile .info-project .info-box p {
  padding: 0 20px;
  text-align: center;
}

.ul-list-mobile .info-project .info-box hgroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-align: left;
  margin-top: 55px;
}

.ul-list-mobile .info-project .info-box hgroup h3 {
  text-decoration: underline;
  font-size: clamp(1.3em, 2.5vw, 1.5em);
}

.ul-list-mobile .info-project .info-box hgroup ul {
  list-style: circle;
}

/*-----------------------main ------------------------------*/

main {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  padding-top: 100px;
  background: linear-gradient(
      to bottom,
      rgba(67, 70, 70, 0.719) 0%,
      rgba(5, 65, 71, 0.719) 40%,
      rgba(16, 179, 168, 0.695) 100%
    ),
    url("../img/home/background.jpg");
  background-position: center;
  background-size: cover;
}

/*-------------------------Main: Hero-------------------------- */

#hero {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*-----------------------main:aside ------------------------------*/

#aside {
  position: fixed;
  width: 300px;
  height: 100%;
  background-color: var(--hard-purple);
  left: -100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#aside .container-aside {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 100px;
}

#aside .navegator-box {
  width: 100%;
  height: 100%;
  position: relative;
}

#aside .navegator-box .nav-aside-list {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 25px;
}

#aside .navegator-box .nav-aside-list li {
  list-style: none;
  font-size: clamp(0.9em, 2.5vw, 1em);
  font-weight: bold;
  color: var(--black);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#aside .navegator-box .nav-aside-list #home-page {
  text-decoration: underline !important;
}

#aside .navegator-box .nav-aside-list li:hover {
  text-decoration: underline;
}

#aside .navegator-box .nav-aside-list li a {
  text-decoration: none;
}

#aside .config-aside-box {
  width: 100%;
  margin-top: 250px;
}

#aside .config-aside-box .info-user-aside {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#aside .config-aside-box .config-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

#aside .config-aside-box .config-list li {
  list-style: none;
  font-size: clamp(1em, 2.5vw, 1.1em);
  font-weight: bold;
}

/*-----------------------Main: aside : icon ------------------------------*/

.nav-icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--gray);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 110px;
  left: 10px;
  z-index: 100;
}

.nav-icon:hover {
  background-color: var(--blue-lake);
  box-shadow: 1px 5px 10px var(--black);
}

.active-show-aside {
  left: 0px !important;
  transition: all 0.5s ease-in-out;
}

.nav-icon input {
  position: absolute;
  opacity: 0;
  z-index: 10;
  cursor: pointer;
}

.nav-icon .aside-icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  transform: rotate(0deg);
}

.nav-icon input:checked ~ .aside-icon {
  transform: rotate(180deg); /* Gira el ícono 360 grados */
}

/*-----------------------Main: hero-container ------------------------------*/

#hero-container {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 25px;
}

#hero-container .hero-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 0px;
  border-radius: 0 0 10px 10px;
  width: 325px;
  background-color: var(--clear-green-lake);
  position: absolute;
  top: 0;
}

#hero-container .hero-bar p {
  color: var(--white);
  font-weight: bold;
}

#hero-container .hero-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 25px 35px;
}

#hero-container .hero-content section {
  position: relative;
  background-color: var(--clear-green-mud) !important;
}

#hero-container .hero-content .box-user {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  background-color: var(--white);
  border: 1px solid var(--black);
  border-radius: 10px;
}

#hero-container .hero-content .box-user button {
  z-index: 100;
  position: relative;
}

#hero-container .hero-content .box-user button:hover {
  background: linear-gradient(45deg, var(--blue-lake), var(--clear-green-lake));
  box-shadow: 1px 5px 10px var(--black);
}

.profile-img {
  width: 140px;
  height: 170px;
}

.profile-img img {
  width: 100%;
  border-radius: 50%;
}

#hero-container .hero-content :is(.male-box, .female-box) {
  width: 100%;
  height: 100%;
  background-color: var(--white);
  border: 1px solid var(--black);
  border-radius: 10px;
  overflow: hidden;
  padding: 20px 0;
}

#hero-container .hero-content :is(.male-box, .female-box) .data-resume {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#hero-container .hero-content :is(.male-box, .female-box) .data-resume p {
  font-size: clamp(1.2em, 2.5vw, 1.5em);
  font-weight: bold;
  color: var(--blue-lake);
}

#hero-container .hero-content .pacient-table {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  background-color: var(--white);
  border: 1px solid var(--black);
  border-radius: 10px;
}

#hero-container .hero-content .pacient-table header {
  padding-top: 10px;
}

#hero-container .hero-content .pacient-table header strong {
  font-size: clamp(1.2em, 2.5vw, 1.6em);
  text-align: center;
  font-weight: bold;
  color: var(--black);
}

.table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 16px;
  text-align: left;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table tr:hover {
  background-color: #f1f1f1;
}

/*do-list*/

#do-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
  background-color: white;
  border: 5px solid black;
  border-radius: 10px;
  flex-direction: column;
  text-align: center;
  padding-top: 10px;
}

#do-container input,
#do-container button {
  display: block;
}

#do-container #input-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/*Title*/

#do-container #input-container h1 {
  font-size: clamp(1.1em, 2.5vw, 1.2em);
  font-weight: bold;
  user-select: none;
}

/*Input*/

#do-container #input-container input {
  height: 50px;
  width: 300px;
  font-size: 18px;
  margin: 20px;
  padding: 10px;
  border: 4px solid #404040;
  border-radius: 10px;
}

/*button*/

#do-container #input-container button {
  width: 110px;
  height: 45px;
  background-color: #1312a8;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 15px;
  padding: 10px;
  cursor: pointer;
  user-select: none;
  transition: box-shadow 0.2s ease;
}

#do-container #input-container button:hover,
.box {
  box-shadow: 1px 5px 10px black;
}

/*Contador*/

#do-container #input-container #totalTareas {
  font-size: 15px;
  margin-top: 10px;
}

/*Lista de Tareas*/

#do-container #list-container {
  width: 300px; /* Ancho del contenedor de la lista */
  height: 200px; /* Altura fija del contenedor de la lista */
  overflow-y: auto; /* Barra de desplazamiento vertical automática */
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 20px;
}

.tarea {
  width: 100%;
  min-height: 55px;
  font-size: 20px;
  padding: 10px;
  margin-top: 10px;
  color: white;
  background-color: #407ba6;
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.tarea.completada {
  text-decoration: line-through;
  background-color: black;
  border: none;
}

.tarea p {
  max-width: 350px;
}

/*Iconos ARREGLAR ESTA SECCION, iconos*/

i {
  margin: 5px;
  padding: 10px;
  cursor: pointer;
}

.icono-completar {
  color: rgb(0, 255, 0);
}

.icono-eliminar {
  color: white;
}

.icono-completar:hover,
.icono-eliminar:hover {
  background-color: rgba(255, 255, 255, 0.523);
}

/*-----------------------footer ------------------------------*/

#footer-container {
  height: auto;
  width: 100%;
  padding: 50px 25px;
  background: linear-gradient(45deg, var(--clear-green-lake), var(--blue-lake));
  z-index: 0;
  position: relative;
}

.footer-box .footer-box-content {
  width: 100%;
  height: auto;
  padding: 0px 0 25px 0;
  display: flex;
  justify-content: left;
  gap: 5px;
  flex-direction: column;
}

.footer-box-content .footer-principal {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-box-content .footer-principal h2 {
  font-size: clamp(1em, 2.5vw, 1.3em);
  font-weight: bold;
  user-select: none;
  font-family: Georgia, "Times New Roman", Times, serif;
  position: relative;
  left: -15px;
  color: var(--white);
}

.footer-box-content .footer-links {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-box-content .footer-links ul {
  display: flex;
}

.footer-box-content .footer-links a {
  color: var(--white);
  text-decoration: none;
}

.footer-box-content .footer-links a:hover {
  text-decoration: underline;
}

.footer-box .footer-box-content img {
  width: 60px;
  border-radius: 50%;
  filter: drop-shadow(0 0 10px var(--black));
  user-select: none;
}

.footer-box .copy {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  margin-top: 15px;
}

.footer-box .copy p {
  color: var(--white);
  width: 180px;
}

.footer-box .copy .social-icon {
  display: flex;
  gap: 15px;
}

.footer-box .copy .social-icon svg:hover {
  fill: white !important;
}

@media (width > 908px) {
  #hero-container {
    height: 95vh;
  }
  #hero-container .hero-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 130px !important;
    width: 80%;
    height: auto;
    gap: 10px;
  }

  #hero-container .hero-content section {
    border: 1px solid black;
    border-radius: 10px;
  }

  #hero-container .hero-content .box-user {
    height: 100% !important;
    grid-column-start: 1;
    grid-column-end: 2;

    grid-row-start: 1;
    grid-row-end: 3;
  }

  #hero-container .hero-content .pacient-table {
    width: 100%;
    height: 100% !important;
    grid-column-start: 2;
    grid-column-end: 4;

    grid-row-start: 2;
    grid-row-end: 5;
  }

  #do-container {
    height: 100% !important;
    grid-column-start: 1;
    grid-row-start: 3;
    grid-row-end: 5;
    overflow: hidden;
  }
}

@media (width > 1000px) {
  /*-------------------------Main: Header--------------------------*/

  .ul-list-mobile {
    width: 380px !important;
    align-items: normal;
  }

  .action-nav {
    right: 0% !important;
  }
}

@media (width >=1000px) {
  .ul-nav-desktop {
    display: flex;
    flex-direction: row;
    position: relative;
    background: none;
    left: 0px;
    height: 5px;
    top: 4px;
    right: 25px;
    transition: none;
  }

  .header-box .navegator-box .ul-nav-desktop img {
    display: none;
  }
}

@media (width > 1200px) {
  /*-------------------------Main: Header--------------------------*/

  #hero {
    width: 100%;
  }

  .header-box .icon-personal {
    display: block;
    color: var(--white);
    text-decoration: none;
  }

  .header-box .icon-personal svg:hover {
    fill: var(--black) !important;
  }

  .header-box .icon-personal::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: var(--DiferentBlue);

    transition: width 0.3s;
  }

  .header-box .icon-personal:hover::after {
    width: 100%;
    transition: width 0.3s;
  }

  .header-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0 100px;
    position: 0;
  }

  .header-box .navegator-box .ul-nav-desktop {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 35px;
    font-family: Georgia, "Times New Roman", Times, serif;
  }

  .header-box .navegator-box .ul-nav-desktop svg {
    cursor: pointer;
  }

  .header-box .navegator-box .ul-nav-desktop svg:hover {
    fill: var(--black);
  }

  .header-box .navegator-box .ul-nav-desktop li {
    font-size: 1.5em;
    list-style: none;
  }

  .header-box .navegator-box .ul-nav-desktop li a {
    color: var(--white);
    text-decoration: none;
  }

  .header-box .navegator-box .ul-nav-desktop li a::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: var(--DiferentBlue);
    transition: width 0.3s;
  }

  .header-box .navegator-box .ul-nav-desktop li a:hover::after {
    width: 100%;
    transition: width 0.3s;
  }

  .header-box .navegator-box .icon-box svg {
    display: none;
  }

  /*-----------------------main:aside ------------------------------*/

  #principal-aside {
    width: 20% !important;
  }
  /*-------------------------Main: footer--------------------------*/
  #footer-container {
    padding: 50px 100px;
  }

  .footer-box .copy p {
    width: 100%;
  }
}
